@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

*{
   font-family: 'Raleway', sans-serif;
}

body{
   background-color: #ffefcb;
   margin: 0;
}

.headerBody{
   margin-top: 20px;
   margin-left: 20px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items:  flex-start;
  
}
.logo001{

height: 300px;
filter: drop-shadow(10px 4px 4px rgba(0, 0, 0, 0.25));

}
.socialIcons img{

 
height: 40px;

}
header a{

   font-size: 30px;
   text-decoration: none;
   padding: 10px;
   color: #000;
   font-weight: 600;


}
nav{

width: 60vw;
max-width: 900px;
height: 100px;
display: flex;
flex-wrap: nowrap;
justify-content: space-around;
align-items: center;


}
header a:hover {

   color: #444;
   text-decoration: underline;

}
main header img{

width: 20vw;
height: 30vw;

z-index: -1;

margin-right: 11vw;

}
main header{

display: inline-flex;

justify-content: space-between;
width: 100vw;
left: 0;


}
h1{
   margin-left: auto;
   margin-right: auto;
 
   width: 55vw;
   font-size: 5.5vw;
   margin-top: -130px;
   margin-bottom: -5.5vw;
   text-transform: uppercase;
   
  
}
main header p{


width: 30vw;
margin-left: 12vw;
margin-top: 7.5vw;
font-size: 1.5vw;
font-weight: 600;


}
h1::after {
  
   color: #fff;
   content: 'NIE';
   position: absolute;
   transform: translate(-100%, 0), scale(1.2);
 }
